# 42 API configuration
VITE_CLIENT_UID_42=u-s4t2ud-dd240212b70f3b22fcfaae9aa30a8cbd05ac31f68b19d89aa08a05e0ce387c13 # env variable for vite must be prefixed with VITE_
CLIENT_SECRET_42=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
# JWT Secret for token generation
JWT_SECRET=your_jwt_secret
# Set hostname, also need to set hostname in 42 API settings if other than localhost
# VITE_HOSTNAME=localhost # env variable for vite must be prefixed with VITE_
VITE_HOSTNAME=f1r3s17.codam.nl # env variable for vite must be prefixed with VITE_
# Application port
VITE_BACKEND_PORT=3000 # env variable for vite must be prefixed with VITE_
FRONTEND_PORT=5173
POSTGRES_PORT=5432
# DB configuration
PGADMIN_DEFAULT_EMAIL=test@student.codam.nl
PGADMIN_DEFAULT_PASSWORD=test123
POSTGRES_HOST=db
POSTGRES_DB=transcendence
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
# DB_LOCATION=${HOME}/db
DB_LOCATION=${HOME}/.sgoinfre/db2